---
import AdminHeader from './AdminHeader.astro';

interface Props {
	title?: string;
	subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div
	class="min-h-screen text-[#E6E1E5] p-4 md:p-8 pb-28 md:pb-24"
>
	<AdminHeader title={title} subtitle={subtitle} />

	<!-- Page Content -->
	<slot />
</div>
